body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1a1a1a;
    font-size: 40px;
    margin-top: 20px;
}

h2 {
    color: #242299;
    font-size: 24px;
    margin-bottom: 15px;
}


.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.tasks {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    min-height: 300px;
}


.task-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.task-form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.task-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #242299;
    color: white;
    font-size: 16px;
    cursor: pointer;
}




#task-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-done {
    text-decoration: line-through;
    color: gray;
}

.done-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none; 
}



.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none; 
}


#task-list li span {
    flex: 1;
}
#task-list li a {
    margin-left: 5px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}
